/* CONTAINER */
.container{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

@include mobile-first(768px){
  .container{
    max-width: 1190;
    padding: 0 40px;
  }
}

@include mobile-first(1024px){
  .container{
    max-width: 1440;
    padding: 0 40px;
  }
}